{% extends "layout.html" %}

{% block content %}
            
          
            <!-- About Start -->
            <div class="about">
                <div class="container">
                    <div class="row">
                        <div class="about-text">
                            <h2>About Us</h2>
                            <p>
                                The current era of the Internet has led technology and digital services ingrain themselves into
                                many different facets of our lives and no particular industry has been immune to it. In recent
                                years, long-established and conservative transactions carried out physically have transformed
                                into networked and more methodical exchanges due to the effective combination of affordable
                                smart phones and cheap Internet services. Swift breakthroughs in the digitization of the
                                manufacturing process have established the need to trace the authenticity of the products and
                                design a secure channel for payment concurrently. The traditional finance model crumbles
                                under the complexities arising out of an outdated framework, consisting of needless subsidiaries,
                                who only add to the woes faced by the buyers and sellers. This has led to manufacturers and
                                consumers alike, to search for more bankable, robust and flexible solutions as opposed to the
                                conventional approaches.
                            </p>
                            <p>
                                Bitcoin is a decentralized digital currency invented by Satoshi Nakamoto using blockchain
                                technology, which is capable of doing everything that traditional currency can do and much
                                more. Blockchain is considered as a decentralized distributed ledger as it is a P2P network where
                                the nodes of this network work on validating new blocks, those nodes maintain their copy of the
                                chain so that the information stored in the blockchain is identical across the network. The
                                blockchain technology is renowned for its inherent features which offer noteworthy advantages
                                such as transparent and secure data transactions, immutable and auditable contracts, which is
                                crucial for digitization of business sectors. The blockchain ledger includes an increasing chain of
                                blocks linked and attached using cryptographic fundamentals. These blocks contain information
                                defined in digital form which can represent transactions, or business rules.
                            </p>
                            <p>
                                Objective:<br><br>
                                1. To digitize the traditional market with block-chain supported fin-tech.<br>
                                2. To establish a secure and transparent network to monitor transactions.<br>
                                3. To enhance privacy of the parties taking part in the platform.<br>
                                4. To trace the flow of work using smart-contracts.<br>
                            </p>
                            <p>
                                System model:<br><br>
                                The system put forward endorses an end to end solution to solve problems faced due to the
                                presence of middle-men and third parties in business transactions, using a blend of private
                                Ethereum based blockchain network, smart contracts and distributed file system. The proposed
                                system consists of 4 principal entities- customer, contractor, miner and certification/managing
                                authority. Both the customer and contractor will be given dual keys- public and private, to ensure
                                their authentic and unique identities, which will be later used for further transactions. The
                                customer will first initiate the contract creation by submitting his product requirements on to the
                                Interplanetary File System, which is a distributed file system
                                . The file will be further
                                forwarded to the contractors, who will offer their best possible budget. Thereafter, the customer
                                will select the bid suitable for him, leading to the creation of a smart contract and will be
                                prompted to pay the complete amount as mentioned in the contract which will be hashed into the
                                block by the miner to keep track of the user’s account balance. After the creation of smart
                                contract and completion of payment, the contact will be deployed to the private blockchain
                                network that has been created
                                . Hereafter, the work of managing authority/certification
                                authority starts. As per the duration decided in the contract, the regular instalments and intervals
                                will be consistently monitored by the authority. The contractor will have to submit the proof of
                                their progress of work with the proof of required equipments being implemented in fulfilling the
                                demand of the customer before each instalment
                                . The certification authority will be responsible
                                for verifying the proof of work before forwarding the money to their account. After the money
                                has been transferred, the traction amount, work done and the amount left in customers account
                                will be hashed into a block by the miner and will be added to the existing chain of block in the
                                private blockchain network.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}
