{% extends "layout.html" %}

{% block content %}

           <div class="contact">
                <div class="container">
                    <div class="section-header">
                        <h2>Successfully Registered</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        	<p>User Hash:</p>
                        	<h3>{{ user_hash }}</h3>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}